# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry specific files
poetry.lock
*.toml
*.toml.*
*.lock

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env/
.venv/
ENV/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/
pytest_cache/
coverage/
.tox/
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# Sphinx documentation
docs/_build/

# pyre type checker
.pyre/

# Cython
build/
*.so

# Profiling data
.prof

# Unit test / coverage reports
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environment variable files
.env

# Local poetry configuration
.pdm.toml
